.spr_user_story{
    background-color: rgb(232, 232, 232);
    border: 2px solid rgb(208, 208, 208);
    -webkit-transition: background-color 0.5s;
}

.spr_user_story:hover{
    background-color: rgb(221, 221, 221);
}

.spr_user_story p{
    font-size: 1.1rem;
    margin: 0;
}

#spr_us{
    padding: 2px;
    background-color: rgb(208, 208, 208);
}

@media screen and (min-width: 1150px) and (max-width: 1400){
    .spr_user_story p{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1401px){
    .spr_user_story p{
        font-size: 1.4rem;
    }
}
